html{
    position: absolute;
    width: 80%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}
body{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: rgb(63, 108, 108);
}
#container{
    position: absolute;
    background-color: rgb(245, 240, 255);
    border: 5px solid white;
    border-radius: 20%;
    margin: 1% 42%;
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 15% 5%;
}

div{
    display: flex;
    width: 80%;
    height: 10%;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: center;
    flex-wrap: wrap;
}

label{
 font-size: large;
 font-weight: 900;
}
p{
    width: 70%;
    height: 10%;
    margin-left: 20%;
    color: firebrick;
}

input{
    width: 70%;
    height: 50%;
    border: 1px solid olivedrab;
    border: 0;
    border-radius: 10rem;
}

input[type=submit]{
    width: 25%;
    height: 5%;
    background-color: rgb(5, 135, 235);
    border-style: none;
    border-radius: 5rem;
}

input[type=submit]:hover{
    background-color:lawngreen;
    
}



